/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
    background: url("../images/bg.png") repeat scroll left top #ECECEC;
}

.block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links {
    background-color: #FE0086;
}

.zone-user-wrapper {
    background-color: #F7F4F3;
}

.block-menu-user-menu .content ul.menu li a {
    color: #421A0F;
}

#promotional_banner {
    background-color: #EB484C;
}

#promotional_banner .promotional_banner_special_offer {
     color: #421A0F;
}

.block-shipping-discount #shipping {
    background-color: #421A0F;
 }
#zone-postscript .view-ad-push .views-row, #zone-postscript .block-blog-block .block-inner {
    background-color: #F8EFE5;
}

#zone-postscript .view-ad-push .views-row .views-field-field-tagline .field-content a:hover, #zone-postscript .block-blog-block .views-field-title .field-content a:hover {
    background: url("../images/bg_blog_headline.png") repeat scroll left top rgba(0, 0, 0, 0);
}
#zone-postscript .view-ad-push .views-row:hover .views-field-field-tagline .field-content a, #zone-postscript .block-blog-block:hover .views-field-title .field-content a {
    background: url("../images/bg_blog_headline.png") repeat scroll left top rgba(0, 0, 0, 0);
}

.zone-footer-wrapper {
    background-color: #EBE7E5;
}

.section-footer ul.menu li.expanded span, .section-footer ul.menu li.expanded a {
   color: #421A0F;
   font-family: DINBold,Arial;
   font-size: 15px;
}
.section-footer ul.menu li.expanded ul.menu li a {
    color: #421A0F;
    font-size: 12px;
    font-family: DIN,Arial;
}

#block-menu-menu-social-connection .content ul.menu li span, #block-menu-menu-social-connection .content ul.menu li a {
    color: #421A0F;
}
 
#block-views-exp-display-products-page .views-submit-button .form-submit {
    background-image: url("../images/translate.png");
}

#zone-branding {
    background-color: #FFFFFF;
}
#zone-menu {
    background-color: #FFFFFF;
}
#zone-postscript {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 24px;
    padding-top: 20px;
    background-color: #FFFFFF;
}

.node-product-type .field-name-commerce-price {
  font-family: "Microsoft Yahei"
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}


#block-superfish-1{
    position:absolute;
    left:-186px;
}

.sf-menu.sf-style-white a{
border:1px none #E1E1E1
}

ul.menu li {
  margin: 0 0 0 0em;
}

#zone-postscript .view-ad-push .views-row .views-field-field-tagline .field-content, #zone-postscript .block-blog-block .views-field-title .field-content {
   background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
}

#block-menu-menu-social-connection .content ul.menu li {
  margin-bottom: 0px;
}

#block-menu-menu-social-connection .content ul.menu li span, #block-menu-menu-social-connection .content ul.menu li a {
height: 30px;
}

#block-menu-menu-social-connection .content ul.menu li a.qq {
    background: url("../images/icon_qq.png") no-repeat scroll 2% 50% rgba(0, 0, 0, 0);
}
#block-menu-menu-social-connection .content ul.menu li span.gmail {
    background: url("../images/icon_gmail.png") no-repeat scroll 2% 50% rgba(0, 0, 0, 0);
}
#block-menu-menu-social-connection .content ul.menu li span.wechat {
    background: url("../images/icon_wechat.png") no-repeat scroll 2% 50% rgba(0, 0, 0, 0);
}
#block-menu-menu-social-connection .content ul.menu li a.weibo {
    background: url("../images/icon_weibo.png") no-repeat scroll 2% 50% rgba(0, 0, 0, 0);
}

.page-user .profile ul.user-information li {
height: 160px;
}






#block-menu-menu-transport-methods ul.menu li .bpost {
    background: url("/profiles/commerce_kickstart/themes/peterpan/images/bpost.jpg") no-repeat bottom right ;
}

#block-menu-menu-transport-methods ul.menu li .DHL {
    background: url("/profiles/commerce_kickstart/themes/peterpan/images/DHL.jpg") no-repeat bottom right ;
}
#block-menu-menu-transport-methods ul.menu li .laposte{
    background: url("/profiles/commerce_kickstart/themes/peterpan/images/laposte.jpg" ) no-repeat bottom right ;
}
#block-menu-menu-transport-methods ul.menu li .ems {
    background: url("/profiles/commerce_kickstart/themes/peterpan/images/ems.jpg") no-repeat bottom right;

}


#block-menu-menu-transport-methods ul.menu li {
     display: block;
     height: 60px;
margin-bottom: 5px;


}


#block-menu-menu-transport-methods ul.menu li a {
    display: block;
    height: 50px;
width:134px;
text-indent:-9999px;
box-shadow: 5px 5px 3px #789;
}






















