/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
#block-views-demo-content-slideshow-block-1 .event-slider .views-field-nothing {
    background: url("../images/bg_title_slideshow_current.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

#block-views-demo-content-slideshow-block-1 .bx-prev, #block-views-demo-content-slideshow-block-1 .bx-next {
    color: #421A0F;
}

#block-menu-menu-social-connection h2 {
    background: url("../images/bg_block_footer_title.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    color: #EEEEEE;
}

#block-views-demo-content-slideshow-block-1 .views-field-nothing span.field-content em, #block-views-demo-content-slideshow-block-1 .bx-prev span.field-content em, #block-views-demo-content-slideshow-block-1 .bx-next span.field-content em {
    font-family: Microsoft YaHei;
 }
#block-views-demo-content-slideshow-block-1 .views-field-nothing span.field-content, #block-views-demo-content-slideshow-block-1 .bx-prev span.field-content, #block-views-demo-content-slideshow-block-1 .bx-next span.field-content {
    font-family: Microsoft YaHei;
}
